@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the bank</h1>
    <p>Log in to see banking customers</a>.</p>
    <p>This project was created using ASP.Net</a>.</p>
</div>
